In [19]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns; sns.set_theme()
from sklearn import preprocessing
import torch

In [2]:
df_com = pd.read_csv("data/companies.csv")
df_com.head()

   Company_ID                             Name State        Country
0           1  Merck Sharp & Dohme Corporation    NJ  United States
1           2                     COMSORT, Inc    MD  United States
2           3       Daiichi Sankyo Company LTD   NaN          Japan
3           4  C. R. Bard, Inc. & Subsidiaries    NJ  United States
4           5               Novartis Pharma AG   NaN    Switzerland

In [3]:
df_com.columns

Index(['Company_ID', 'Name', 'State', 'Country'], dtype='object')

In [4]:
df_com.groupby('Country').count().sort_values('Company_ID', ascending=False)

                                         Company_ID  Name  State
Country
United States                                  2141  2141   2141
Germany                                          32    32      0
Japan                                            31    31      0
Great Britain (Uk)                               26    26      0
Canada                                           21    21      0
Switzerland                                      21    21      0
France                                           15    15      0
Israel                                           13    13      0
China                                            10    10      0
Australia                                         9     9      0
Netherlands                                       9     9      0
Sweden                                            9     9      0
Ireland                                           7     7      0
India                                             6     6      0
Korea (Republic of)                               6     6      0
Hong Kong                                         5     5      0
Denmark                                           5     5      0
Spain                                             5     5      0
Finland                                           4     4      0
Brazil                                            4     4      0
Belgium                                           4     4      0
Italy                                             4     4      0
Mexico                                            4     4      0
Singapore                                         4     4      0
Barbados                                          3     3      0
Austria                                           3     3      0
Malaysia                                          2     2      0
New Zealand                                       2     2      0
Thailand                                          2     2      0
Korea (Democratic People's Republic of)           2     2      0
United Arab Emirates                              2     2      0
Colombia                                          2     2      0
Taiwan                                            1     1      0
Russian Federation                                1     1      0
Turkey                                            1     1      0
South Africa                                      1     1      0
Argentina                                         1     1      0
Jordan                                            1     1      0
Portugal                                          1     1      0
Poland                                            1     1      0
Philippines                                       1     1      0
Peru                                              1     1      0
Panama                                            1     1      0
Norway                                            1     1      0
Indonesia                                         1     1      0
Iceland                                           1     1      0
Greece                                            1     1      0
Ecuador                                           1     1      0
Chile                                             1     1      0
Vietnam                                           1     1      0

In [5]:
df_com.groupby('State').count().sort_values('Company_ID', ascending=False)

       Company_ID  Name  Country
State
CA            393   393      393
MA            203   203      203
NJ            193   193      193
PA            153   153      153
TX            129   129      129
MN            112   112      112
FL             98    98       98
IL             92    92       92
NY             74    74       74
OH             71    71       71
NC             64    64       64
TN             50    50       50
GA             49    49       49
IN             47    47       47
CO             44    44       44
MD             38    38       38
WA             36    36       36
AZ             29    29       29
CT             27    27       27
VA             27    27       27
UT             26    26       26
MO             24    24       24
SC             18    18       18
MI             18    18       18
WI             18    18       18
OR             11    11       11
AL             11    11       11
NV             10    10       10
PR              9     9        9
NH              8     8        8
IA              7     7        7
KY              6     6        6
RI              5     5        5
DE              5     5        5
SD              4     4        4
KS              4     4        4
MT              4     4        4
WV              3     3        3
MS              3     3        3
ID              3     3        3
DC              3     3        3
OK              2     2        2
NM              2     2        2
LA              2     2        2
NE              1     1        1
ND              1     1        1
ME              1     1        1
VT              1     1        1
AR              1     1        1
AK              1     1        1

In [4]:
df_pay = pd.read_csv("data/payments.csv")
df_pay.head()

/home/anindya/miniconda3/envs/bacup/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (26,27,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Record_ID,Physician_ID,Company_ID,Total_Amount_of_Payment_USDollars,Date,Number_of_Payments,Form_of_Payment_or_Transfer_of_Value,Nature_of_Payment_or_Transfer_of_Value,City_of_Travel,State_of_Travel,...,Product_Code_3,Product_Type_1,Product_Type_2,Product_Type_3,Product_Name_1,Product_Name_2,Product_Name_3,Product_Category_1,Product_Category_2,Product_Category_3
0,1,2455,597,48.78,08/01/2013,1,In-kind items and services,Food and Beverage,NaN,NaN,...,NaN,Device or Medical Supply,NaN,NaN,Pacemakers,NaN,NaN,NaN,NaN,NaN
1,2,1534,593,122.43,08/01/2013,1,In-kind items and services,Food and Beverage,NaN,NaN,...,NaN,Drug or Biological,NaN,NaN,Vascepa,NaN,NaN,NaN,NaN,NaN
2,3,2632,760,10.26,08/01/2013,1,In-kind items and services,Education,NaN,NaN,...,NaN,Drug or Biological,NaN,NaN,ACTHAR,NaN,NaN,NaN,NaN,NaN
3,4,550,760,13.68,08/01/2013,1,In-kind items and services,Education,NaN,NaN,...,NaN,Drug or Biological,NaN,NaN,ACTHAR,NaN,NaN,NaN,NaN,NaN
4,5,1710,826,17.17,08/01/2013,1,In-kind items and services,Food and Beverage,NaN,NaN,...,NaN,Drug or Biological,NaN,NaN,GENERESS,NaN,NaN,NaN,NaN,NaN

In [5]:
df_pay.columns

Index(['Record_ID', 'Physician_ID', 'Company_ID',
       'Total_Amount_of_Payment_USDollars', 'Date', 'Number_of_Payments',
       'Form_of_Payment_or_Transfer_of_Value',
       'Nature_of_Payment_or_Transfer_of_Value', 'City_of_Travel',
       'State_of_Travel', 'Country_of_Travel', 'Ownership_Indicator',
       'Third_Party_Recipient', 'Charity', 'Third_Party_Covered',
       'Contextual_Information', 'Related_Product_Indicator', 'Product_Code_1',
       'Product_Code_2', 'Product_Code_3', 'Product_Type_1', 'Product_Type_2',
       'Product_Type_3', 'Product_Name_1', 'Product_Name_2', 'Product_Name_3',
       'Product_Category_1', 'Product_Category_2', 'Product_Category_3'],
      dtype='object')

In [6]:
df_phy = pd.read_csv("data/physicians.csv")
df_phy.head()

,id,set,First_Name,Middle_Name,Last_Name,Name_Suffix,City,State,Zipcode,Country,Province,Primary_Specialty,License_State_1,License_State_2,License_State_3,License_State_4,License_State_5
0,1,train,LEIGH,B,HOPPE,NaN,FORT PIERCE,FL,34950,UNITED STATES,NaN,Allopathic & Osteopathic Physicians|Obstetrics...,FL,NaN,NaN,NaN,NaN
1,2,train,STEVEN,NaN,FRANK,NaN,TOWSON,MD,21204-6808,UNITED STATES,NaN,Allopathic & Osteopathic Physicians|Anesthesio...,MD,NaN,NaN,NaN,NaN
2,3,train,THOMAS,NaN,COUCH,JR.,TROY,NY,12180-2832,UNITED STATES,NaN,Podiatric Medicine & Surgery Service Providers...,NY,NaN,NaN,NaN,NaN
3,4,train,CLAUDE,NaN,SU,NaN,SAVANNAH,GA,31419-1753,UNITED STATES,NaN,Allopathic & Osteopathic Physicians|Internal M...,GA,SC,AL,NaN,NaN
4,5,train,ROBERT,C,SCHENCK,NaN,ALBUQUERQUE,NM,87131-0001,UNITED STATES,NaN,Allopathic & Osteopathic Physicians|Orthopaedi...,NM,NaN,NaN,NaN,NaN

In [7]:
df_phy.columns

Index(['id', 'set', 'First_Name', 'Middle_Name', 'Last_Name', 'Name_Suffix',
       'City', 'State', 'Zipcode', 'Country', 'Province', 'Primary_Specialty',
       'License_State_1', 'License_State_2', 'License_State_3',
       'License_State_4', 'License_State_5'],
      dtype='object')

In [8]:
len(df_phy)

6000

In [8]:
df_phy_train = df_phy[df_phy['set'] == 'train']
len(df_phy_train)

5000

In [9]:
df_phy_test = df_phy[df_phy['set'] == 'test']
len(df_phy_test)

1000

In [8]:
df = df_pay.merge(df_phy, how="inner", left_on="Physician_ID", right_on="id", suffixes=("_pay", "_phy"))
df = df.merge(df_com, how="inner", left_on="Company_ID", right_on="Company_ID", suffixes=(None, "_com"))
df.columns

Index(['Record_ID', 'Physician_ID', 'Company_ID',
       'Total_Amount_of_Payment_USDollars', 'Date', 'Number_of_Payments',
       'Form_of_Payment_or_Transfer_of_Value',
       'Nature_of_Payment_or_Transfer_of_Value', 'City_of_Travel',
       'State_of_Travel', 'Country_of_Travel', 'Ownership_Indicator',
       'Third_Party_Recipient', 'Charity', 'Third_Party_Covered',
       'Contextual_Information', 'Related_Product_Indicator', 'Product_Code_1',
       'Product_Code_2', 'Product_Code_3', 'Product_Type_1', 'Product_Type_2',
       'Product_Type_3', 'Product_Name_1', 'Product_Name_2', 'Product_Name_3',
       'Product_Category_1', 'Product_Category_2', 'Product_Category_3', 'id',
       'set', 'First_Name', 'Middle_Name', 'Last_Name', 'Name_Suffix', 'City',
       'State', 'Zipcode', 'Country', 'Province', 'Primary_Specialty',
       'License_State_1', 'License_State_2', 'License_State_3',
       'License_State_4', 'License_State_5', 'Name', 'State_com',
       'Country_com'],
      dtype='object')

In [9]:
def print_stats(df):
    # some stats per column
    stats = {
        'col': [],
        'missing_ratio': [],
        'unique_cnt': [],
        'dtype': [],
        'max': [],
        'min': []
    }
    for col in df.columns:
        stats['col'].append(col)
        missing_ratio = df[col].isnull().sum()/len(df)
        stats['missing_ratio'].append(missing_ratio)
        stats['unique_cnt'].append(len(df[col].unique()))
        stats['dtype'].append(df[col].dtype)
        if pd.api.types.is_numeric_dtype(df[col].dtype):
            stats['max'].append(df[col].max())
            stats['min'].append(df[col].min())
        else:
            stats['max'].append('na')
            stats['min'].append('na')
    return pd.DataFrame(stats)

In [10]:
print_stats(df)

,col,missing_ratio,unique_cnt,dtype,max,min
0,Record_ID,0.000000,1402250,int64,1402250,1
1,Physician_ID,0.000000,6000,int64,6000,1
2,Company_ID,0.000000,1518,int64,2431,1
3,Total_Amount_of_Payment_USDollars,0.000000,46132,float64,10964988.77,0.0
4,Date,0.000000,2344,object,na,na
5,Number_of_Payments,0.000000,66,int64,322,1
6,Form_of_Payment_or_Transfer_of_Value,0.000000,7,object,na,na
7,Nature_of_Payment_or_Transfer_of_Value,0.000000,14,object,na,na
8,City_of_Travel,0.946425,4558,object,na,na
9,State_of_Travel,0.948081,53,object,na,na
10,Country_of_Travel,0.946423,63,object,na,na
11,Ownership_Indicator,0.000000,2,object,na,na
12,Third_Party_Recipient,0.000000,3,object,na,na
13,Charity,0.452645,3,object,na,na
14,Third_Party_Covered,0.986071,3,object,na,na
15,Contextual_Information,0.888048,31928,object,na,na
16,Related_Product_Indicator,0.000000,6,object,na,na
17,Product_Code_1,0.274298,2492,object,na,na
18,Product_Code_2,0.814539,1230,object,na,na
19,Product_Code_3,0.940407,844,object,na,na
20,Product_Type_1,0.061468,7,object,na,na
21,Product_Type_2,0.786138,7,object,na,na
22,Product_Type_3,0.926904,7,object,na,na
23,Product_Name_1,0.062691,8920,object,na,na
24,Product_Name_2,0.786117,3078,object,na,na
25,Product_Name_3,0.926875,2020,object,na,na
26,Product_Category_1,0.419442,1679,object,na,na
27,Product_Category_2,0.873341,595,object,na,na
28,Product_Category_3,0.953382,408,object,na,na
29,id,0.000000,6000,int64,6000,1
30,set,0.000000,2,object,na,na
31,First_Name,0.000121,2213,object,na,na
32,Middle_Name,0.283507,489,object,na,na
33,Last_Name,0.000598,4630,object,na,na
34,Name_Suffix,0.974508,7,object,na,na
35,City,0.000000,1846,object,na,na
36,State,0.000026,52,object,na,na
37,Zipcode,0.000000,5491,object,na,na
38,Country,0.000000,2,object,na,na
39,Province,1.000000,1,float64,NaN,NaN
40,Primary_Specialty,0.044055,165,object,na,na
41,License_State_1,0.000000,52,object,na,na
42,License_State_2,0.624188,54,object,na,na
43,License_State_3,0.874492,51,object,na,na
44,License_State_4,0.961493,46,object,na,na
45,License_State_5,0.988511,32,object,na,na
46,Name,0.000000,1512,object,na,na
47,State_com,0.007290,46,object,na,na
48,Country_com,0.000000,24,object,na,na

In [11]:
# Include ID columns for removal
cols_to_remove = [] # Remove columns with 80% missing value
for col in df.columns:
    missing_ratio = df[col].isnull().sum()/len(df)
    if missing_ratio > 0.75:
        cols_to_remove.append(col)
cols_to_remove += ['Record_ID', 'Physician_ID', 'Company_ID']
cols_to_remove

['City_of_Travel',
 'State_of_Travel',
 'Country_of_Travel',
 'Third_Party_Covered',
 'Contextual_Information',
 'Product_Code_2',
 'Product_Code_3',
 'Product_Type_2',
 'Product_Type_3',
 'Product_Name_2',
 'Product_Name_3',
 'Product_Category_2',
 'Product_Category_3',
 'Name_Suffix',
 'Province',
 'License_State_3',
 'License_State_4',
 'License_State_5',
 'Record_ID',
 'Physician_ID',
 'Company_ID']

In [12]:
df.drop(columns=cols_to_remove, inplace=True)
df.columns

Index(['Total_Amount_of_Payment_USDollars', 'Date', 'Number_of_Payments',
       'Form_of_Payment_or_Transfer_of_Value',
       'Nature_of_Payment_or_Transfer_of_Value', 'Ownership_Indicator',
       'Third_Party_Recipient', 'Charity', 'Related_Product_Indicator',
       'Product_Code_1', 'Product_Type_1', 'Product_Name_1',
       'Product_Category_1', 'id', 'set', 'First_Name', 'Middle_Name',
       'Last_Name', 'City', 'State', 'Zipcode', 'Country', 'Primary_Specialty',
       'License_State_1', 'License_State_2', 'Name', 'State_com',
       'Country_com'],
      dtype='object')

In [13]:
len(df.columns)

28

In [14]:
# Convert date -> day counts
df['Date'] = pd.to_datetime(df['Date'])
df['Date'] = df['Date'].astype('int') // (86400 * 10**9)

In [15]:
# Encode categorical data
df_enc = df.copy()
for col in df.columns:
    if df[col].dtype == 'object':
        df[col] = df[col].astype('category')
        df_enc[col] = df[col].cat.codes
df_enc['Date'] = df['Date']

In [16]:
df_enc.dtypes

Total_Amount_of_Payment_USDollars         float64
Date                                        int64
Number_of_Payments                          int64
Form_of_Payment_or_Transfer_of_Value         int8
Nature_of_Payment_or_Transfer_of_Value       int8
Ownership_Indicator                          int8
Third_Party_Recipient                        int8
Charity                                      int8
Related_Product_Indicator                    int8
Product_Code_1                              int16
Product_Type_1                               int8
Product_Name_1                              int16
Product_Category_1                          int16
id                                          int64
set                                          int8
First_Name                                  int16
Middle_Name                                 int16
Last_Name                                   int16
City                                        int16
State                                        int8
Zipcode                                     int16
Country                                      int8
Primary_Specialty                           int16
License_State_1                              int8
License_State_2                              int8
Name                                        int16
State_com                                    int8
Country_com                                  int8
dtype: object

In [17]:
print_stats(df_enc)

,col,missing_ratio,unique_cnt,dtype,max,min
0,Total_Amount_of_Payment_USDollars,0.0,46132,float64,10964988.77,0.0
1,Date,0.0,2344,int64,18261.00,15918.0
2,Number_of_Payments,0.0,66,int64,322.00,1.0
3,Form_of_Payment_or_Transfer_of_Value,0.0,7,int8,6.00,0.0
4,Nature_of_Payment_or_Transfer_of_Value,0.0,14,int8,13.00,0.0
5,Ownership_Indicator,0.0,2,int8,1.00,0.0
6,Third_Party_Recipient,0.0,3,int8,2.00,0.0
7,Charity,0.0,3,int8,1.00,-1.0
8,Related_Product_Indicator,0.0,6,int8,5.00,0.0
9,Product_Code_1,0.0,2492,int16,2490.00,-1.0
10,Product_Type_1,0.0,7,int8,5.00,-1.0
11,Product_Name_1,0.0,8920,int16,8918.00,-1.0
12,Product_Category_1,0.0,1679,int16,1677.00,-1.0
13,id,0.0,6000,int64,6000.00,1.0
14,set,0.0,2,int8,1.00,0.0
15,First_Name,0.0,2213,int16,2211.00,-1.0
16,Middle_Name,0.0,489,int16,487.00,-1.0
17,Last_Name,0.0,4630,int16,4628.00,-1.0
18,City,0.0,1846,int16,1845.00,0.0
19,State,0.0,52,int8,50.00,-1.0
20,Zipcode,0.0,5491,int16,5490.00,0.0
21,Country,0.0,2,int8,1.00,0.0
22,Primary_Specialty,0.0,165,int16,163.00,-1.0
23,License_State_1,0.0,52,int8,51.00,0.0
24,License_State_2,0.0,54,int8,52.00,-1.0
25,Name,0.0,1512,int16,1511.00,0.0
26,State_com,0.0,46,int8,44.00,-1.0
27,Country_com,0.0,24,int8,23.00,0.0

In [22]:
# Normalize values
df_norm = df_enc.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
df_norm = min_max_scaler.fit_transform(df_norm)
df_norm = pd.DataFrame(df_norm, columns=df_enc.columns)

In [23]:
print_stats(df_norm)

,col,missing_ratio,unique_cnt,dtype,max,min
0,Total_Amount_of_Payment_USDollars,0.0,46132,float64,1.0,0.0
1,Date,0.0,2344,float64,1.0,0.0
2,Number_of_Payments,0.0,66,float64,1.0,0.0
3,Form_of_Payment_or_Transfer_of_Value,0.0,7,float64,1.0,0.0
4,Nature_of_Payment_or_Transfer_of_Value,0.0,14,float64,1.0,0.0
5,Ownership_Indicator,0.0,2,float64,1.0,0.0
6,Third_Party_Recipient,0.0,3,float64,1.0,0.0
7,Charity,0.0,3,float64,1.0,0.0
8,Related_Product_Indicator,0.0,6,float64,1.0,0.0
9,Product_Code_1,0.0,2492,float64,1.0,0.0
10,Product_Type_1,0.0,7,float64,1.0,0.0
11,Product_Name_1,0.0,8920,float64,1.0,0.0
12,Product_Category_1,0.0,1679,float64,1.0,0.0
13,id,0.0,6000,float64,1.0,0.0
14,set,0.0,2,float64,1.0,0.0
15,First_Name,0.0,2213,float64,1.0,0.0
16,Middle_Name,0.0,489,float64,1.0,0.0
17,Last_Name,0.0,4630,float64,1.0,0.0
18,City,0.0,1846,float64,1.0,0.0
19,State,0.0,52,float64,1.0,0.0
20,Zipcode,0.0,5491,float64,1.0,0.0
21,Country,0.0,2,float64,1.0,0.0
22,Primary_Specialty,0.0,165,float64,1.0,0.0
23,License_State_1,0.0,52,float64,1.0,0.0
24,License_State_2,0.0,54,float64,1.0,0.0
25,Name,0.0,1512,float64,1.0,0.0
26,State_com,0.0,46,float64,1.0,0.0
27,Country_com,0.0,24,float64,1.0,0.0

In [27]:
# Count ownership vs no ownership
df_norm.groupby('Ownership_Indicator').count()

,Total_Amount_of_Payment_USDollars,Date,Number_of_Payments,Form_of_Payment_or_Transfer_of_Value,Nature_of_Payment_or_Transfer_of_Value,Third_Party_Recipient,Charity,Related_Product_Indicator,Product_Code_1,Product_Type_1,...,City,State,Zipcode,Country,Primary_Specialty,License_State_1,License_State_2,Name,State_com,Country_com
Ownership_Indicator,,,,,,,,,,,,,,,,,,,,,
0.0,1399846,1399846,1399846,1399846,1399846,1399846,1399846,1399846,1399846,1399846,...,1399846,1399846,1399846,1399846,1399846,1399846,1399846,1399846,1399846,1399846
1.0,2404,2404,2404,2404,2404,2404,2404,2404,2404,2404,...,2404,2404,2404,2404,2404,2404,2404,2404,2404,2404

In [28]:
df_train = df_norm[df['set'] == 'train']
df_test = df_norm[df['set'] == 'test']
print(len(df_train), len(df_test))

1170030 232220

In [29]:
df_train.groupby('Ownership_Indicator').count()

,Total_Amount_of_Payment_USDollars,Date,Number_of_Payments,Form_of_Payment_or_Transfer_of_Value,Nature_of_Payment_or_Transfer_of_Value,Third_Party_Recipient,Charity,Related_Product_Indicator,Product_Code_1,Product_Type_1,...,City,State,Zipcode,Country,Primary_Specialty,License_State_1,License_State_2,Name,State_com,Country_com
Ownership_Indicator,,,,,,,,,,,,,,,,,,,,,
0.0,1167626,1167626,1167626,1167626,1167626,1167626,1167626,1167626,1167626,1167626,...,1167626,1167626,1167626,1167626,1167626,1167626,1167626,1167626,1167626,1167626
1.0,2404,2404,2404,2404,2404,2404,2404,2404,2404,2404,...,2404,2404,2404,2404,2404,2404,2404,2404,2404,2404

In [30]:
df_test.groupby('Ownership_Indicator').count()

,Total_Amount_of_Payment_USDollars,Date,Number_of_Payments,Form_of_Payment_or_Transfer_of_Value,Nature_of_Payment_or_Transfer_of_Value,Third_Party_Recipient,Charity,Related_Product_Indicator,Product_Code_1,Product_Type_1,...,City,State,Zipcode,Country,Primary_Specialty,License_State_1,License_State_2,Name,State_com,Country_com
Ownership_Indicator,,,,,,,,,,,,,,,,,,,,,
0.0,232220,232220,232220,232220,232220,232220,232220,232220,232220,232220,...,232220,232220,232220,232220,232220,232220,232220,232220,232220,232220

In [68]:
df_train_train, df_train_val = df_train.iloc[:1000000, :], df_train.iloc[1000000:, :]

In [69]:
df_train_train.groupby('Ownership_Indicator').count()

,Total_Amount_of_Payment_USDollars,Date,Number_of_Payments,Form_of_Payment_or_Transfer_of_Value,Nature_of_Payment_or_Transfer_of_Value,Third_Party_Recipient,Charity,Related_Product_Indicator,Product_Code_1,Product_Type_1,...,City,State,Zipcode,Country,Primary_Specialty,License_State_1,License_State_2,Name,State_com,Country_com
Ownership_Indicator,,,,,,,,,,,,,,,,,,,,,
0.0,998724,998724,998724,998724,998724,998724,998724,998724,998724,998724,...,998724,998724,998724,998724,998724,998724,998724,998724,998724,998724
1.0,1276,1276,1276,1276,1276,1276,1276,1276,1276,1276,...,1276,1276,1276,1276,1276,1276,1276,1276,1276,1276

In [70]:
df_train_val.groupby('Ownership_Indicator').count()

,Total_Amount_of_Payment_USDollars,Date,Number_of_Payments,Form_of_Payment_or_Transfer_of_Value,Nature_of_Payment_or_Transfer_of_Value,Third_Party_Recipient,Charity,Related_Product_Indicator,Product_Code_1,Product_Type_1,...,City,State,Zipcode,Country,Primary_Specialty,License_State_1,License_State_2,Name,State_com,Country_com
Ownership_Indicator,,,,,,,,,,,,,,,,,,,,,
0.0,168902,168902,168902,168902,168902,168902,168902,168902,168902,168902,...,168902,168902,168902,168902,168902,168902,168902,168902,168902,168902
1.0,1128,1128,1128,1128,1128,1128,1128,1128,1128,1128,...,1128,1128,1128,1128,1128,1128,1128,1128,1128,1128

In [34]:
df_train_sm_1 = df_train[df_train['Ownership_Indicator'] == 1.0].sample(n=2000)
df_train_sm_0 = df_train[df_train['Ownership_Indicator'] == 0.0].sample(n=2000)

In [35]:
df_train_sm_1.groupby('Ownership_Indicator').count()

,Total_Amount_of_Payment_USDollars,Date,Number_of_Payments,Form_of_Payment_or_Transfer_of_Value,Nature_of_Payment_or_Transfer_of_Value,Third_Party_Recipient,Charity,Related_Product_Indicator,Product_Code_1,Product_Type_1,...,City,State,Zipcode,Country,Primary_Specialty,License_State_1,License_State_2,Name,State_com,Country_com
Ownership_Indicator,,,,,,,,,,,,,,,,,,,,,
1.0,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,...,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000

In [36]:
df_train_sm_0.groupby('Ownership_Indicator').count()

,Total_Amount_of_Payment_USDollars,Date,Number_of_Payments,Form_of_Payment_or_Transfer_of_Value,Nature_of_Payment_or_Transfer_of_Value,Third_Party_Recipient,Charity,Related_Product_Indicator,Product_Code_1,Product_Type_1,...,City,State,Zipcode,Country,Primary_Specialty,License_State_1,License_State_2,Name,State_com,Country_com
Ownership_Indicator,,,,,,,,,,,,,,,,,,,,,
0.0,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000,...,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000

In [38]:
df_train_sm_1_train, df_train_sm_1_val = df_train_sm_1.iloc[:1600, :], df_train_sm_1.iloc[1600:, :]
df_train_sm_0_train, df_train_sm_0_val = df_train_sm_0.iloc[:1600, :], df_train_sm_0.iloc[1600:, :]
df_train_sm_train = df_train_sm_1_train.append(df_train_sm_0_train)
df_train_sm_val = df_train_sm_1_val.append(df_train_sm_0_val)

In [39]:
df_train_sm_train.groupby('Ownership_Indicator').count()

,Total_Amount_of_Payment_USDollars,Date,Number_of_Payments,Form_of_Payment_or_Transfer_of_Value,Nature_of_Payment_or_Transfer_of_Value,Third_Party_Recipient,Charity,Related_Product_Indicator,Product_Code_1,Product_Type_1,...,City,State,Zipcode,Country,Primary_Specialty,License_State_1,License_State_2,Name,State_com,Country_com
Ownership_Indicator,,,,,,,,,,,,,,,,,,,,,
0.0,1600,1600,1600,1600,1600,1600,1600,1600,1600,1600,...,1600,1600,1600,1600,1600,1600,1600,1600,1600,1600
1.0,1600,1600,1600,1600,1600,1600,1600,1600,1600,1600,...,1600,1600,1600,1600,1600,1600,1600,1600,1600,1600

In [40]:
df_train_sm_val.groupby('Ownership_Indicator').count()

,Total_Amount_of_Payment_USDollars,Date,Number_of_Payments,Form_of_Payment_or_Transfer_of_Value,Nature_of_Payment_or_Transfer_of_Value,Third_Party_Recipient,Charity,Related_Product_Indicator,Product_Code_1,Product_Type_1,...,City,State,Zipcode,Country,Primary_Specialty,License_State_1,License_State_2,Name,State_com,Country_com
Ownership_Indicator,,,,,,,,,,,,,,,,,,,,,
0.0,400,400,400,400,400,400,400,400,400,400,...,400,400,400,400,400,400,400,400,400,400
1.0,400,400,400,400,400,400,400,400,400,400,...,400,400,400,400,400,400,400,400,400,400

In [41]:
class TrainSet(torch.utils.data.Dataset):
    
    def __init__(self, df, transform=None):
        self.df_x = df.drop(columns=['Ownership_Indicator', 'id', 'set']).copy()
        self.df_y = df['Ownership_Indicator'].copy()
        self.ids = df['id'].copy()
        self.transform = transform
    
    def __len__(self):
        return len(self.df_x)

    def __getitem__(self, idx):
        x = torch.tensor(self.df_x.iloc[idx].values, dtype=torch.float)
        y = torch.tensor(self.df_y.iloc[idx], dtype=torch.float)
        return x, y

In [71]:
# train_set = TrainSet(df_train_sm_train)
# val_set = TrainSet(df_train_sm_val)
train_set = TrainSet(df_train_train)
val_set = TrainSet(df_train_val)
sample = train_set[0]
x, y = sample
print(x.shape)
print(y.shape)
print(y)

torch.Size([25])
torch.Size([])
tensor(0.)

In [72]:
train_loader = torch.utils.data.DataLoader(train_set, batch_size=128, shuffle=True)
val_loader = torch.utils.data.DataLoader(val_set, batch_size=128, shuffle=False)

In [73]:
y_cnt = 0
for x, y in train_loader:
    y_cnt += y.sum()
    print(y_cnt)
print(y_cnt)

tensor(0.)
tensor(0.)
tensor(0.)
tensor(0.)
tensor(0.)
tensor(0.)
tensor(0.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(1.)
tensor(2.)
tensor(3.)
tensor(3.)
tensor(3.)
tensor(3.)
tensor(3.)
tensor(4.)
tensor(4.)
tensor(4.)
tensor(5.)
tensor(5.)
tensor(5.)
tensor(5.)
tensor(5.)
tensor(6.)
tensor(6.)
tensor(6.)
tensor(7.)
tensor(8.)
tensor(8.)
tensor(8.)
tensor(8.)
tensor(8.)
tensor(8.)
tensor(8.)
tensor(8.)
tensor(8.)
tensor(8.)
tensor(8.)
tensor(8.)
tensor(8.)
tensor(8.)
tensor(9.)
tensor(9.)
tensor(9.)
tensor(9.)
tensor(9.)
tensor(9.)
tensor(9.)
tensor(10.)
tensor(10.)
tensor(10.)
tensor(10.)
tensor(10.)
tensor(10.)
tensor(10.)
tensor(10.)
tensor(10.)
tensor(10.)
tensor(10.)
tensor(10.)
tensor(10.)
tensor(10.)
tensor(10.)
tensor(10.)
tensor(10.)
tensor(10.)
tensor(10.)
tensor(10.)
tensor(10.)
tensor(10.)
tensor(10.)
tensor(10.)
tensor(11.)
tensor(12.)
tensor(12.)
tensor(12.)
tensor(12.)
tensor(12.)
tensor(12.)
tensor(12.)
tensor(12.)
tensor(13.)
tensor(13.)
tensor(13.)
tensor(13.)
tensor(13.)
tensor(13.)
tensor(14.)
tensor(14.)
tensor(14.)
tensor(15.)
tensor(16.)
tensor(17.)
tensor(17.)
tensor(17.)
tensor(17.)
tensor(17.)
tensor(17.)
tensor(17.)
tensor(17.)
tensor(17.)
tensor(17.)
tensor(17.)
tensor(17.)
tensor(17.)
tensor(17.)
tensor(17.)
tensor(17.)
tensor(17.)
tensor(18.)
tensor(18.)
tensor(18.)
tensor(18.)
tensor(18.)
tensor(19.)
tensor(19.)
tensor(19.)
tensor(20.)
tensor(20.)
tensor(20.)
tensor(20.)
tensor(20.)
tensor(20.)
tensor(21.)
tensor(21.)
tensor(21.)
tensor(21.)
tensor(21.)
tensor(21.)
tensor(21.)
tensor(21.)
tensor(21.)
tensor(22.)
tensor(22.)
tensor(22.)
tensor(22.)
tensor(23.)
tensor(23.)
tensor(23.)
tensor(23.)
tensor(23.)
tensor(24.)
tensor(24.)
tensor(24.)
tensor(24.)
tensor(25.)
tensor(25.)
tensor(25.)
tensor(25.)
tensor(26.)
tensor(26.)
tensor(26.)
tensor(26.)
tensor(28.)
tensor(29.)
tensor(30.)
tensor(30.)
tensor(30.)
tensor(30.)
tensor(30.)
tensor(30.)
tensor(30.)
tensor(30.)
tensor(30.)
tensor(30.)
tensor(30.)
tensor(30.)
tensor(31.)
tensor(31.)
tensor(31.)
tensor(31.)
tensor(31.)
tensor(31.)
tensor(31.)
tensor(31.)
tensor(31.)
tensor(31.)
tensor(31.)
tensor(31.)
tensor(32.)
tensor(32.)
tensor(33.)
tensor(33.)
tensor(33.)
tensor(33.)
tensor(33.)
tensor(33.)
tensor(33.)
tensor(33.)
tensor(33.)
tensor(33.)
tensor(33.)
tensor(33.)
tensor(33.)
tensor(33.)
tensor(33.)
tensor(33.)
tensor(33.)
tensor(33.)
tensor(33.)
tensor(34.)
tensor(34.)
tensor(34.)
tensor(34.)
tensor(34.)
tensor(34.)
tensor(34.)
tensor(35.)
tensor(35.)
tensor(35.)
tensor(36.)
tensor(36.)
tensor(37.)
tensor(38.)
tensor(38.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(40.)
tensor(41.)
tensor(41.)
tensor(41.)
tensor(42.)
tensor(43.)
tensor(43.)
tensor(43.)
tensor(44.)
tensor(44.)
tensor(44.)
tensor(44.)
tensor(44.)
tensor(46.)
tensor(46.)
tensor(46.)
tensor(46.)
tensor(47.)
tensor(47.)
tensor(47.)
tensor(48.)
tensor(48.)
tensor(49.)
tensor(49.)
tensor(50.)
tensor(50.)
tensor(50.)
tensor(50.)
tensor(50.)
tensor(50.)
tensor(50.)
tensor(50.)
tensor(50.)
tensor(50.)
tensor(50.)
tensor(50.)
tensor(50.)
tensor(50.)
tensor(50.)
tensor(50.)
tensor(50.)
tensor(50.)
tensor(50.)
tensor(50.)
tensor(51.)
tensor(51.)
tensor(51.)
tensor(51.)
tensor(51.)
tensor(51.)
tensor(51.)
tensor(51.)
tensor(52.)
tensor(52.)
tensor(52.)
tensor(53.)
tensor(53.)
tensor(53.)
tensor(53.)
tensor(54.)
tensor(54.)
tensor(55.)
tensor(55.)
tensor(55.)
tensor(55.)
tensor(55.)
tensor(56.)
tensor(56.)
tensor(56.)
tensor(57.)
tensor(58.)
tensor(58.)
tensor(58.)
tensor(58.)
tensor(58.)
tensor(58.)
tensor(58.)
tensor(58.)
tensor(58.)
tensor(58.)
tensor(58.)
tensor(58.)
tensor(58.)
tensor(58.)
tensor(58.)
tensor(58.)
tensor(58.)
tensor(58.)
tensor(58.)
tensor(58.)
tensor(58.)
tensor(58.)
tensor(58.)
tensor(58.)
tensor(58.)
tensor(58.)
tensor(58.)
tensor(58.)
tensor(58.)
tensor(59.)
tensor(59.)
tensor(59.)
tensor(59.)
tensor(60.)
tensor(61.)
tensor(63.)
tensor(63.)
tensor(63.)
tensor(63.)
tensor(63.)
tensor(63.)
tensor(63.)
tensor(64.)
tensor(64.)
tensor(64.)
tensor(64.)
tensor(64.)
tensor(64.)
tensor(65.)
tensor(65.)
tensor(65.)
tensor(65.)
tensor(67.)
tensor(67.)
tensor(67.)
tensor(67.)
tensor(68.)
tensor(68.)
tensor(68.)
tensor(68.)
tensor(69.)
tensor(70.)
tensor(70.)
tensor(70.)
tensor(70.)
tensor(70.)
tensor(70.)
tensor(70.)
tensor(71.)
tensor(72.)
tensor(72.)
tensor(72.)
tensor(72.)
tensor(72.)
tensor(72.)
tensor(72.)
tensor(73.)
tensor(73.)
tensor(74.)
tensor(76.)
tensor(76.)
tensor(76.)
tensor(76.)
tensor(76.)
tensor(76.)
tensor(76.)
tensor(76.)
tensor(76.)
tensor(76.)
tensor(78.)
tensor(79.)
tensor(80.)
tensor(80.)
tensor(81.)
tensor(81.)
tensor(81.)
tensor(81.)
tensor(81.)
tensor(82.)
tensor(83.)
tensor(84.)
tensor(84.)
tensor(84.)
tensor(85.)
tensor(85.)
tensor(85.)
tensor(85.)
tensor(86.)
tensor(86.)
tensor(86.)
tensor(86.)
tensor(86.)
tensor(86.)
tensor(87.)
tensor(87.)
tensor(87.)
tensor(87.)
tensor(88.)
tensor(88.)
tensor(88.)
tensor(88.)
tensor(88.)
tensor(88.)
tensor(88.)
tensor(88.)
tensor(88.)
tensor(88.)
tensor(89.)
tensor(90.)
tensor(90.)
tensor(90.)
tensor(90.)
tensor(90.)
tensor(90.)
tensor(90.)
tensor(90.)
tensor(90.)
tensor(90.)
tensor(90.)
tensor(91.)
tensor(91.)
tensor(91.)
tensor(91.)
tensor(91.)
tensor(91.)
tensor(91.)

KeyboardInterrupt:

In [74]:
class Model(torch.nn.Module):
    
    def __init__(self):
        super(Model, self).__init__()
        self.relu = torch.nn.ReLU()
        self.lin1 = torch.nn.Linear(in_features=25, out_features=64)
        self.bn1 = torch.nn.BatchNorm1d(64)
        self.lin2 = torch.nn.Linear(in_features=64, out_features=64)
        self.bn2 = torch.nn.BatchNorm1d(64)
        self.lin3 = torch.nn.Linear(in_features=64, out_features=10)
        self.bn3 = torch.nn.BatchNorm1d(10)
        self.lin4 = torch.nn.Linear(in_features=10, out_features=1)
    
    def forward(self, x):
        x = self.relu(self.bn1(self.lin1(x)))
        x = self.relu(self.bn2(self.lin2(x)))
        x = self.relu(self.bn3(self.lin3(x)))
        x = self.lin4(x)
        return x

In [75]:
device = torch.device('cuda')
model = Model().to(device)
criterion = torch.nn.BCEWithLogitsLoss()
optim = torch.optim.Adam(model.parameters(),lr=0.01)

for epoch in range(10):
    model.train()
    train_loss = 0.0
    for i, batch in enumerate(train_loader):
        x, y = batch
        y_hat = model(x.float().to(device))
        optim.zero_grad()
        loss = criterion(y_hat, y.view(-1, 1).to(device))
        loss.backward()
        optim.step()
        train_loss += loss.item()
    
    model.eval()
    val_loss = 0.0
    acc_avg = 0.0
    for i, batch in enumerate(val_loader):
        x, y = batch
        y_hat = model(x.float().to(device))
        loss = criterion(y_hat, y.view(-1, 1).to(device))
        
        y_hat = torch.sigmoid(y_hat).view(-1)
#         print("printing y =================")
#         print(y)
#         print("printing y_hat before round =================")
#         print(y_hat)
        y_hat = torch.round(y_hat)
#         print("printing y_hat before round =================")
#         print(y_hat)

        correct = (y.to(device) == y_hat).sum().float()
#         print(f"correct {correct}")
        acc = correct/y.shape[0]
        acc_avg += acc
        val_loss += loss.item()
    acc_avg = torch.round(acc_avg * 100 / len(train_loader))
    print(f"Epoch: {epoch}")
    print(f"Acc: {acc_avg}")
    print(f"loss train: {train_loss}")
    print(f"loss val: {val_loss}")

Epoch: 0
Acc: 17.0
loss train: 32.65421093938858
loss val: 130.5286176287404
Epoch: 1
Acc: 17.0
loss train: 11.185160109071461
loss val: 155.4355158454032
Epoch: 2
Acc: 17.0
loss train: 8.169797080866196
loss val: 205.94544928122656
Epoch: 3
Acc: 17.0
loss train: 7.0771580422444025
loss val: 170.53859987276206
Epoch: 4
Acc: 17.0
loss train: 6.3789655245804795
loss val: 211.42972788037312
Epoch: 5
Acc: 17.0
loss train: 5.839302497106854
loss val: 215.43788537239328
Epoch: 6
Acc: 17.0
loss train: 5.297108051142201
loss val: 204.9728316910832
Epoch: 7
Acc: 17.0
loss train: 5.27130003425281
loss val: 257.74444622207704
Epoch: 8
Acc: 17.0
loss train: 4.741434936359722
loss val: 237.38916681718456
Epoch: 9
Acc: 17.0
loss train: 4.815603213598504
loss val: 286.4126550685787